:root{
--homeBG: #3498db;
--projectBG:#e74c3c;
--contactBG: #fff;
}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html,
body {
font-family: serif;
font-size: 16px;
text-rendering: optimizeLegibility;
overflow-x: hidden;
}

section{
    width: 100vw;
    height: 100vh;
    /* position: relative; */
}


h1{
    text-align: center;
    /* margin-top: 10px; */
}

/* ------header------ */
header{
    width: 100vw;
    height: 40px;
    /* border: 1px solid red; */
    background-color: var(--homeBG);
    
}

nav ul{
    text-align: right;
    position: fixed;
    width: 100%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 5px 30px;
    font-size: 150%;

}

ul li a{
text-decoration: none;
}

/* --------welcome-section--- */

#welcome-section{
    /* width: 100vw;
    height: 100vh; */
    background-color: var(--homeBG);
    color: rgb(78, 4, 4);
}

#welcome-section .row{
    position: relative;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    /* border: 1px solid red; */
    text-align: center;
}


/* ---------project------ */
#projects{
 background-color: var(--contactBG);
}

.work{
    width: 1140px;
    margin: 0 auto;
    display: block;
}

.work img{
    width: 300px;
    height: 300px ;
   
}


/* ----------contect----- */
#contact{
    background-color: var(--projectBG);
    text-align: center;
}

#contact img{
    width: 150Px;
    height: 150px;
margin-top: 40px;
}


@media (max-width: 600px){
    nav ul{
        text-align: center;
       
    }
}